* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  /* border: 2px solid purple; */
  display: flex;
}
nav {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(202, 200, 200);
  /* border: 2px solid brown; */
}
/* .nav__text {
  border: 2px solid pink;
  display: flex;
  gap: 20px;
  margin-left: 150vh;
} */
#nav__text-home {
  background: #2a41e8;
  color: white;
  width: 90px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 130vh;
  margin-right: 20px;
}
#nav__text-favorites {
  background-color: #ff5e14;
  color: white;
  width: 80px;
  padding: 10px;
  border-radius: 5px;
}
.first-section {
  /* border: 2px solid red; */
  width: 40%;
  padding: 0px 20px 20px 20px;
}
#first-section__title {
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
}
#first-section__description {
  text-align: left;
  margin-bottom: 20px;
}
#first-section__favorites {
  background-color: #ff5e14;
  border: none;
  width: 200px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-left: 150px;
}
.first-section__div-price-type {
  display: flex;
  border: 1px solid gray;
  margin-top: 20px;
  border-radius: 5px;
  align-items: center;
  padding: 20px 10px 20px 10px;
}
#first-section__price {
  color: #2a41e8;
  font-weight: bold;
  width: 50%;
  border-right: 1px solid gray;
  margin-left: 50px;
}
#first-section__type {
  color: #ff5e14;
  font-weight: bold;
  width: 50%;
  margin-left: 50px;
}
.first-section__table {
  margin-top: 30px;
  border-bottom: 1px solid gray;
  padding: 10px 10px 10px 40px;
  width: 100%;
}
.table__img {
  width: 30px;
  margin-left: 20px;
}
.table__text {
  color: gray;
  font-size: 14px;
}
#first-section__owner {
  margin-top: 20px;
  margin-bottom: 10px;
}
.first-section__owner-container {
  gap: 20px;
  display: flex;
  align-items: center;
}
#first-section__owner-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.first-section__owner-information {
  font-size: 15px;
  width: 200px;
  border-right: 1px solid gray;
}
.second-section {
  border-radius: 20px;
  margin-right: 20px;
  width: 60%;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}
.second-section__img-principal {
  margin-left: 25vh;
  width: 450px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.second-section__img {
  border-radius: 5px;
  width: 150px;
}
.second-section__img-container {
  /* border: 2px solid orangered; */
  display: flex;
  height: 150px;
  gap: 20px;
  padding: 0px 20px 0px 50px;
}
.second-section__principal-img {
  margin: auto;
}
